
body{
    background-color: rgb(255, 154, 65);
}.app-title{
    text-align:center;
}
.search-bar{
    display:block;
    margin:10px auto ;
    width:300px;
    padding:10px;
    font-size:20px;
}
.temperature-text{
    text-align:center;
    font-size:30px;
}
.message-text{
    text-align:center;
}
